
<!-- 
        PAGE HEADER 
        
        CLASSES:
          .page-header-xs = 20px margins
          .page-header-md = 50px margins
          .page-header-lg = 80px margins
          .page-header-xlg= 130px margins
          .dark     = dark page header

          .shadow-before-1  = shadow 1 header top
          .shadow-after-1   = shadow 1 header bottom
          .shadow-before-2  = shadow 2 header top
          .shadow-after-2   = shadow 2 header bottom
          .shadow-before-3  = shadow 3 header top
          .shadow-after-3   = shadow 3 header bottom
      -->
<section class="page-header page-header-xs">
  <div class="container">
    <h1>QUEST LOG</h1>
    <!-- breadcrumbs -->         
    <ol class="breadcrumb">
      <li class="active">INBOX</li>
      <li><a href="/inbox/pending">Pending</a></li>
      <li><a href="/inbox/active">Active</a></li>
      <li><a href="/inbox/complete">Completed</a></li>
      <li class="active">OUTBOX</li>
      <li><a href="/outbox/pending">Pending</a></li>
      <li><a href="/outbox/active">Active</a></li>
      <li><a href="/outbox/complete">Completed</a></li>
    </ol><!-- /breadcrumbs -->
  </div>
</section>
      <!-- /PAGE HEADER -->




      <!-- -->
<section>
  <div class="container">
    <div class="col-md-12 col-sm-12">
      <div class="timeline timeline-inverse"><!-- .timeline-inverse = right position [left on RTL] -->
      <div class="timeline-hline"><!-- horizontal line --></div>
            <!-- POST ITEM -->
        <% @quests.each do |quest| %>

          <div class="box-default box-shadow-1 blog-post-item well padding-top-10 padding-bottom-10 opacity-8" >
          <!-- timeline entry -->
            <div class="timeline-entry"><!-- .rounded = entry -->
              <%= quest.creation_day %><span><%= quest.creation_month %></span>
                <div class="timeline-vline"><!-- vertical line --></div>
              </div>
          <!-- /timeline entry -->
            <h1 class="text-center"><a href="/quests/<%= quest.id %>"><%= quest.name %></a></h1>
            <ul class="blog-post-info list-inline text-center">
              <li>
                  <i class="fa fa-clock-o"></i> 
                  <span class="font-lato">DEADLINE: <%= quest.friendly_deadline || "N/A" %></span>
              </li>
              <li>
                  <i class="fa fa-check"></i> 
                  <span class="font-lato"><%= quest.status.capitalize %></span>
              </li>
              <li>
                <% if quest.quest_type.capitalize == "Endurance" %>
                  <i class="fa fa-road"></i>
                <% elsif quest.quest_type.capitalize == "Speed" %>
                  <i class="fa fa-bolt"></i>
                <% else %>
                  <i class="fa fa-flask"></i>
                <% end %> 
                  <span class="font-lato"><%= quest.quest_type.capitalize %></span>
              </li>
              <li>
                  <i class="fa fa-user"></i> 
                  <span class="font-lato">Assigned by <%= quest.assigner.char_name %></span>
              </li>
            </ul> 
            <% if quest.notes %>
              <span class="font-lato">
                <p class="text-center size-18"><strong>Task: </strong><%= quest.notes %></p>
              </span>
            <% end %>           
          </div>  
        <% end %>          
      </div>
    </div>
  </div>
</section>

      <!-- / -->


