
<!-- 
        PAGE HEADER 
        
        CLASSES:
          .page-header-xs = 20px margins
          .page-header-md = 50px margins
          .page-header-lg = 80px margins
          .page-header-xlg= 130px margins
          .dark     = dark page header

          .shadow-before-1  = shadow 1 header top
          .shadow-after-1   = shadow 1 header bottom
          .shadow-before-2  = shadow 2 header top
          .shadow-after-2   = shadow 2 header bottom
          .shadow-before-3  = shadow 3 header top
          .shadow-after-3   = shadow 3 header bottom
      -->
<div ng-app="app">
  <div ng-controller="questCtrl" ng-init="setup">
      <section class="page-header page-header-xs">
        <div class="container">

          <h1>My Quests</h1>

          <!-- breadcrumbs -->
          
          <ol class="breadcrumb">
            <li class="active">INBOX</li>
            <li><a href="/inbox/pending">Pending</a></li>
            <li><a href="/inbox/active">Active</a></li>
            <li><a href="/inbox/complete">Completed</a></li>
            <li class="active">OUTBOX</li>
            <li><a href="/outbox/pending">Pending</a></li>
            <li><a href="/outbox/active">Active</a></li>
            <li><a href="/outbox/complete">Completed</a></li>
          </ol><!-- /breadcrumbs -->

        </div>
      </section>
      <!-- /PAGE HEADER -->




      <!-- -->
      <section>
        <div class="container">

            <!-- POST ITEM -->
          <% @quests.each do |quest| %>

            <div class="blog-post-item" >
              

              <!-- carousel -->
              <div class="flexslider" data-arrowNav="false" data-slideshowSpeed="3000">
                <ul class="slides">
                
                  <!-- Slide 1 -->
                  <li>
                    <a href="#">
                      <img class="img-responsive" src="/assets/images/demo/720x400/1-min.jpg" width="600" height="399" alt="">
                    </a>
                  </li>
                  
                  <!-- Slide 2 -->
                  <li>
                    <a href="#">
                      <img class="img-responsive" src="/assets/images/demo/720x400/2-min.jpg" width="600" height="399" alt="">
                    </a>
                  </li>

                </ul>
              </div>
              <!-- /carousel -->

              <h2><a href="/quests/<%= quest.id %>"><%= quest.name %></a></h2>

              <ul class="blog-post-info list-inline">
                <li>
                  <a href="#">
                    <i class="fa fa-clock-o"></i> 
                    <span class="font-lato">DEADLINE: <%= quest.deadline || "n/a" %></span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-check"></i> 
                    <span class="font-lato"><%= quest.status.capitalize %></span>
                  </a>
                </li>
                <li>
                  <% if quest.quest_type.capitalize == "Endurance" %>
                    <i class="fa fa-road"></i>
                  <% elsif quest.quest_type.capitalize == "Speed" %>
                    <i class="fa fa-bolt"></i>
                  <% else %>
                    <i class="fa fa-flask"></i>
                  <% end %> 
                  <a class="category" href="#">
                    <span class="font-lato"><%= quest.quest_type.capitalize %></span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-user"></i> 
                    <span class="font-lato">Assigned by <%= quest.assigner.char_name %></span>
                  </a>
                </li>
              </ul>
              <p><%= quest.notes %></p>
              <% if quest.status_code == 0 %>
                <%= form_tag "/quests/#{quest.id}", method: :patch do %>
                  <%= radio_button_tag :choice, 1 %>
                  <%= label_tag :choice_accept, "Accept" %>
                  <%= radio_button_tag :choice, 2 %>
                  <%= label_tag :choice_decline, "Decline" %>
                  <%= submit_tag "Submit", class: "btn btn-primary" %>
                <% end %>
              <% end %>

              
              </div>
              
          <% end %>

            </div>
            <!-- /POST ITEM -->
          
        </div>
          <!-- /PAGINATION -->


        </div>
      </section>
</div>
      <!-- / -->


