<!-- 
        PAGE HEADER 
        
        CLASSES:
          .page-header-xs = 20px margins
          .page-header-md = 50px margins
          .page-header-lg = 80px margins
          .page-header-xlg= 130px margins
          .dark     = dark page header

          .shadow-before-1  = shadow 1 header top
          .shadow-after-1   = shadow 1 header bottom
          .shadow-before-2  = shadow 2 header top
          .shadow-after-2   = shadow 2 header bottom
          .shadow-before-3  = shadow 3 header top
          .shadow-after-3   = shadow 3 header bottom
      -->

      <section class="page-header page-header-xs">
        <div class="container">

          <h1>QUEST DETAIL</h1>

          <!-- breadcrumbs -->
          
          <ol class="breadcrumb">
            <li class="active">INBOX</li>
            <li><a href="/inbox/pending">Pending</a></li>
            <li><a href="/inbox/active">Active</a></li>
            <li><a href="/inbox/complete">Completed</a></li>
            <li class="active">OUTBOX</li>
            <li><a href="/outbox/pending">Pending</a></li>
            <li><a href="/outbox/active">Active</a></li>
            <li><a href="/outbox/complete">Completed</a></li>
          </ol><!-- /breadcrumbs -->

        </div>
      </section>
      <!-- /PAGE HEADER -->




      <!-- -->
      <section>
        <div class="container">

            <!-- POST ITEM -->

            <div class="blog-post-item" >
              

              <h2><a href="/quests/<%= @quest.id %>"><%= @quest.assignee.char_name %>: <%= @quest.name %></a></h2>

              <ul class="blog-post-info list-inline">
                <li>
                  <a href="#">
                    <i class="fa fa-clock-o"></i> 
                    <span class="font-lato">DEADLINE: <%= @quest.deadline || "n/a" %></span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-check"></i> 
                    <span class="font-lato"><%= @quest.status.capitalize %></span>
                  </a>
                </li>
                <li>
                  <% if @quest.quest_type.capitalize == "Endurance" %>
                    <i class="fa fa-road"></i>
                  <% elsif @quest.quest_type.capitalize == "Speed" %>
                    <i class="fa fa-bolt"></i>
                  <% else %>
                    <i class="fa fa-flask"></i>
                  <% end %> 
                  <a class="category" href="#">
                    <span class="font-lato"><%= @quest.quest_type.capitalize %></span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-user"></i> 
                    <span class="font-lato">Assigned by <%= @quest.assigner.char_name %></span>
                  </a>
                </li>
              </ul>
              <p>NOTES: <%= @quest.notes %></p>

              <% if @quest.activities.length != 0 %>
                <h3>Quest Activities</h3>
                <% @quest_activities.each do |activity| %>
                <div class="box-light col-md-3">
                  <p><strong><%= activity.friendly_start_time %></strong></p>
                  <p><strong><%= activity.distance_in_miles %></strong> miles</p>
                  <p>Duration (h:m:s) of <strong><%= activity.friendly_duration %></strong></p>  
                  <p>Average pace (m:s) of <strong><%= activity.avg_pace %></strong> per mile</p>
                  <p><strong><%= activity.calories %></strong> calories burned</p>                
                </div>
                <% end %>
              <% end %>
              
              <% if @quest.status_code == 1 %>
              <% if @show_activities %>
                <% if @quest.assignee_id == current_user.id %>
                  <% if current_user.access_token %>
                    <h3>Link Recent Runkeeper Activities to <%= @quest.name %></h3>
                    <% @show_activities.each do |activity| %>
                      <div class="container">
                        <%= form_tag  "/activities/#{activity.id}", method: :patch do %>
                          <%= hidden_field_tag :quest_id, @quest.id %>
                          <%= submit_tag "Run on #{activity.friendly_start_time}", class: "btn btn-primary" %>
                        <% end %>
                        <p><strong><%= activity.distance_in_miles %></strong> miles</p>
                        <p>Duration (h:m:s) of <strong><%= activity.friendly_duration %></strong></p>  
                        <p>Average pace (m:s) of <strong><%= activity.avg_pace %></strong> per mile</p>
                        <p><strong><%= activity.calories %></strong> calories burned</p>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
              <% end %>
              </div>
              
              <% if @quest.assignee_id == current_user.id %>
                <% if @quest.status_code == 0 %>
                <div class="row col-md-4">
                  <div class="form-group">
                  <%= form_tag "/quests/#{@quest.id}", method: :patch do %>
                    <div class="col-md-1">
                      <%= radio_button_tag :choice, 1 %>
                    </div>
                    <div class="col-md-2">
                      <%= label_tag :choice_accept, "Accept" %>
                    </div>
                    <div class="col-md-1">
                      <%= radio_button_tag :choice, 2 %>
                    </div>
                    <div class="col-md-2">
                      <%= label_tag :choice_decline, "Decline" %>
                    </div>
                    <div class="col-md-2">
                      <%= submit_tag "Submit", class: "btn btn-primary" %>
                    </div>
                  <% end %>
                  </div>
                </div>
                <% end %>
              <% end %>

              <% if @quest.status_code == 1 && current_user.id == @quest.assignee_id %>
              <div class="row col-md-4">
                <div class="form-group">
                  <%= form_tag "/quests/#{@quest.id}", method: :patch do %>
                    <div class="col-md-1">
                      <%= check_box_tag :choice, 3 %>
                    </div>
                    <div class="col-md-2">
                      <%= submit_tag "Cancel Quest", class: "btn btn-danger" %>
                    </div>
                  <% end %>
                </div>
              </div>
              <% end %>

              <% if @quest.status_code == 1 && current_user.id == @quest.assigner_id %>
              <div class="row col-md-4">
                <div class="form-group">
                  <%= form_tag "/quests/#{@quest.id}", method: :patch do %>
                    <div class="col-md-1">
                      <%= radio_button_tag :choice, 4 %>
                    </div>
                    <div class="col-md-3">
                      <%= label_tag :choice_complete, "Quest Completed" %>
                    </div>
                    <div class="col-md-1">
                      <%= radio_button_tag :choice, 3 %>
                    </div>
                    <div class="col-md-3">
                      <%= label_tag :choice_cancel, "Cancel Quest" %>
                    </div>
                    <div class="col-md-3">
                      <%= submit_tag "Submit", class: "btn btn-primary" %>
                    </div>
                  <% end %>
                </div>
              </div>
              <% end %>

              <br>

              
              </div>

            </div>
            <!-- /POST ITEM -->
          
        </div>
          <!-- /PAGINATION -->
      </section>
      <!-- / -->





