<h1><%= @quest.name %></h1>
<h3><%= @quest.quest_type %> Quest</h3>
<h5>Assigned by <%= @assigner.char_name %> to <%= "#{@assignee.char_name}, #{@quest.status}" %></h5>
<p><%= @quest.notes %></p>
<p>Deadline: <%= @quest.deadline %> </p>

<p><a href="/quests">Back to All Quests</a></p>
<p><a href="/">Return Home</a></p>

<div ng-app="app">
  <div ng-controller="activityCtrl" ng-init="setup()">
  <h3>Link Activity to Quest</h3>
    <div>
      <label>
        Search date:
      </label>
        <input ng-model="dateFilter">
    </div>
    <div ng-if="userActivity(activity, <%= current_user.id %>)" ng-repeat="activity in activities | filter: { startTime: dateFilter }">
      <h5 ng-click="joinToQuest(activity, <%= @quest.id %>)"><a href="#">Run on {{activity.startTime}}</a></h5>
      <p>distance: {{activity.distance}}</p>
      <p>duraton: {{activity.duration}}</p>
      <p>calories: {{activity.calories}}</p>
      <p>pace: {{activity.avgPace}}</p>
    </div>
  </div>
</div>



<% if @quest.status_code == 1 && current_user.id == @quest.assignee_id %>
<%= form_tag "/quests/#{@quest.id}", method: :patch do %>
    <%= check_box_tag :choice, 3 %>
    <%= label_tag :choice_cancel, "Cancel Quest" %>
    <%= submit_tag "Submit" %>
  <% end %>
<% end %>

<% if @quest.status_code == 1 && current_user.id == @quest.assigner_id %>
  <%= form_tag "/quests/#{@quest.id}", method: :patch do %>
    <%= radio_button_tag :choice, 4 %>
    <%= label_tag :choice_complete, "Quest Completed" %>
    <%= radio_button_tag :choice, 3 %>
    <%= label_tag :choice_cancel, "Cancel Quest" %>
    <%= submit_tag "Submit" %>
  <% end %>
<% end %>

