<!-- 
        PAGE HEADER 
        
        CLASSES:
          .page-header-xs = 20px margins
          .page-header-md = 50px margins
          .page-header-lg = 80px margins
          .page-header-xlg= 130px margins
          .dark     = dark page header

          .shadow-before-1  = shadow 1 header top
          .shadow-after-1   = shadow 1 header bottom
          .shadow-before-2  = shadow 2 header top
          .shadow-after-2   = shadow 2 header bottom
          .shadow-before-3  = shadow 3 header top
          .shadow-after-3   = shadow 3 header bottom
      -->

      <section class="page-header page-header-xs">
        <div class="container">

          <h1>QUEST DETAIL</h1>

          <!-- breadcrumbs -->
          
          <ol class="breadcrumb">
            <li class="active">INBOX</li>
            <li><a href="/inbox/pending">Pending</a></li>
            <li><a href="/inbox/active">Active</a></li>
            <li><a href="/inbox/complete">Completed</a></li>
            <li class="active">OUTBOX</li>
            <li><a href="/outbox/pending">Pending</a></li>
            <li><a href="/outbox/active">Active</a></li>
            <li><a href="/outbox/complete">Completed</a></li>
          </ol><!-- /breadcrumbs -->

        </div>
      </section>
      <!-- /PAGE HEADER -->




      <!-- -->
      <section>
        <div class="container">
            <!-- POST ITEM -->
          <% if @quest.activities.length != 0 %>
          <div class="col-md-8">
          <% else %>
          <div class="col-md-12">
          <% end %>
          <div class="box-light blog-post-item well col-md-12 padding-top-10 padding-bottom-10">
            
            <h1 class="text-center"><%= @quest.name %></h1>
            <ul class="blog-post-info list-inline text-center">
              <li>
                  <i class="fa fa-clock-o"></i> 
                  <span class="font-lato">DEADLINE: <%= @quest.friendly_deadline || "N/A" %></span>
              </li>
              <li>
                  <i class="fa fa-check"></i> 
                  <span class="font-lato"><%= @quest.status.capitalize %></span>
              </li>
              <li>
                <% if @quest.quest_type.capitalize == "Endurance" %>
                  <i class="fa fa-road"></i>
                <% elsif @quest.quest_type.capitalize == "Speed" %>
                  <i class="fa fa-bolt"></i>
                <% else %>
                  <i class="fa fa-flask"></i>
                <% end %> 
                  <span class="font-lato"><%= @quest.quest_type.capitalize %></span>
              </li>
              <li>
                  <i class="fa fa-user"></i> 
                  <span class="font-lato">Assigned by <%= @quest.assigner.char_name %> to <%= @quest.assignee.char_name %></span>
              </li>
              <% if @quest.notes %>
              <hr>
              <li>
                <span class="font-lato">
                <p class="text-center size-18"><strong>Task: </strong><%= @quest.notes %></p>
                </span>
              </li>
              <% end %>
            </ul>
            

            <% if @quest.status_code == 1 && current_user.id == @quest.assigner_id %>
              <div class="row col-md-12">
                  <%= form_tag "/quests/#{@quest.id}", method: :patch do %>
                  <div class="button-group" data-toggle="buttons">
                    <div class="col-md-4"></div>
                    <div class="col-md-2 btn btn-default">
                      <%= label_tag :choice_complete, "Confirm" %>
                      <%= radio_button_tag :choice, 4 %>
                    </div>
                    <div class="col-md-2 btn btn-default">
                      <%= label_tag :choice_cancel, "Cancel" %>
                      <%= radio_button_tag :choice, 3 %>
                    </div>
                  </div>
                    <div class="col-md-4">
                      <%= submit_tag "Submit", class: "btn btn-default" %>
                    </div>
                  <% end %>
              </div>
            <% end %>

              <% if @quest.status_code == 1 && current_user.id == @quest.assignee_id %>
              
                <div class="row col-md-12">
                    <%= form_tag "/quests/#{@quest.id}", method: :patch do %>
                    <div data-toggle="buttons">
                     <div class="col-md-4"></div>
                      <div class="col-md-2 btn btn-default">
                        Cancel
                        <%= check_box_tag :choice, 3 %>
                      </div>
                    </div>
                      <div class="col-md-2">
                        <%= submit_tag "Submit", class: "btn btn-default" %>
                      </div>
                      <div class="col-md-4"></div>
                    <% end %>
                </div>
              
              <% end %>

              <% if @quest.assignee_id == current_user.id %>
                <% if @quest.status_code == 0 %>
                <div class="col-md-3"></div>
                <div class="row col-md-6">
                  <%= form_tag "/quests/#{@quest.id}", method: :patch do %>
                  <div class="button-group" data-toggle="buttons">
                    <div class="col-md-4 btn btn-default noborder-right">
                      <%= label_tag :choice_accept, "Accept" %>
                      <%= radio_button_tag :choice, 1 %>
                    </div>
                    <div class="col-md-4 btn btn-default">
                      <%= label_tag :choice_decline, "Decline" %>
                      <%= radio_button_tag :choice, 2 %>
                    </div>
                  </div>
                    <div class="col-md-4">
                      <%= submit_tag "Submit", class: "btn btn-default" %>
                    </div>
                  <% end %>
                  </div>
                <% end %>
              <% end %>

              </div>

              <% if @quest.status_code == 1 %>
              <% if @show_activities.length != 0 %>
                <% if @quest.assignee_id == current_user.id %>
                  <hr>
                  <div class="col-md-12">
                    <h3 class="text-center">LINK ACTIVITIES</h3>
                    <% @show_activities.each do |activity| %>
                      <div class="box-light blog-post-item well col-md-6 text-center margin-bottom-5">
                        <p class="size-14"><strong><%= activity.friendly_start_time %></strong></p>
                        <hr>
                        <p class="size-10"><strong><%= activity.distance_in_miles %></strong> miles</p>
                        <p class="size-10">Duration (h:m:s) of <strong><%= activity.friendly_duration %></strong></p>  
                        <p class="size-10">Average pace (m:s) of <strong><%= activity.avg_pace %></strong> per mile</p>
                        <p class="size-10"><strong><%= activity.calories %></strong> calories burned</p>
                        <hr>
                        <%= form_tag  "/activities/#{activity.id}", method: :patch do %>
                          <%= hidden_field_tag :quest_id, @quest.id %>
                          <%= submit_tag "Link to Quest", class: "btn btn-primary" %>
                        <% end %>
                      </div>
                    <% end %>
                    </div>
                <% end %>
              <% end %>
              <% end %>

            </div>
            

            
            

              <% if @quest.activities.length != 0 %>
              <div class="col-md-4 blog-post-item box-light well padding-bottom-10">
                <div class="">
                <h3 class="text-center no margin">Linked Quest Activities</h3>
                <% @quest_activities.each do |activity| %>
                <div class="col-md-12 text-center">
                  <p class="size-18"><a href="/activities/<%= activity.id %>"><strong><%= activity.friendly_start_time %></strong></a></p>
                  <p><strong><%= activity.distance_in_miles %></strong> miles</p>
                  <p>Duration (h:m:s) of <strong><%= activity.friendly_duration %></strong></p>  
                  <p>Average pace (m:s) of <strong><%= activity.avg_pace %></strong> per mile</p>
                  <p><strong><%= activity.calories %></strong> calories burned</p> 
                  <hr>               
                </div>
                <% end %>
                </div>
              <% end %>
              
            </div>
            
              
              

              
              </div>

            </div>
            <!-- /POST ITEM -->
          </div>
          </div>
        </div>
          <!-- /PAGINATION -->
      </section>
      <!-- / -->





