
      <section class="page-header page-header-xs">
        <div class="container">
         <h1>HERO DASHBOARD</h1>
        </div>
      </section>
      <!-- /PAGE HEADER -->



      <!-- -->
      <section>
        <div class="container">
          
          <!-- LEFT -->
          <div class="col-lg-3 col-md-3 col-sm-4">
          
            <div class="thumbnail text-center box-default noborder padding-bottom-10 box-shadow-1">
              <img src="<%= current_user.avatar %>" alt="" />
              <h2 class="size-30 margin-top-10 margin-bottom-0"><%= current_user.char_name %></h2>
              <h3 class="size-20 margin-top-0 margin-bottom-10 text-muted">Lv. <%= current_user.level %> Hero </h3>
            </div>

            <!-- completed -->
            <div class="margin-bottom-30">
              <label class="text-center size-14"><%= current_user.exp_to_go %> xp to advance</label>
              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= current_user.exp_ratio %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= current_user.exp_ratio %>%; min-width: 2em;"></div>
              </div>
            </div>
            <!-- /completed -->

            <!-- SIDE NAV -->
            <ul class="side-nav list-group margin-bottom-30" id="sidebar-nav">
              <li class="list-group-item size-18"><i class="fa fa-arrow-circle-o-up"></i> <strong>LEVEL</strong>: <%= current_user.level %> </li>
              <li class="list-group-item size-18"><i class="fa fa-star-o"></i> <strong>EXPERIENCE</strong>: <%= current_user.experience %></li>
              <li class="list-group-item size-18"><i class="fa fa-road"></i> <strong>ENDURANCE</strong>: <%= current_user.endurance %></li>
              <li class="list-group-item size-18">&nbsp;<i class="fa fa-bolt"></i> <strong>SPEED</strong>: <%= current_user.speed %> </li>
              <li class="list-group-item size-18"><i class="fa fa-flask"></i> <strong>MENTAL</strong>: <%= current_user.mental %></li>
            </ul>
            <!-- /SIDE NAV -->


            <!-- info -->
            <div class="box-light margin-bottom-30"><!-- .box-light OR .box-light -->
              <div class="row margin-bottom-20">
                <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
                  <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway"><%= @active_quests_num %></h2>
                  <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">ACTIVE QUESTS</h3>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
                  <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway"><%= @completed_quests_num %></h2>
                  <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">COMPLETED QUESTS</h3>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
                  <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway"><%= @total_activities_num %></h2>
                  <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">TOTAL ACTIVITIES</h3>
                </div>

                <div class="col-md-12">
                  <div class="box-inner">
                    <h3 class="text-center">
                      ACHIEVEMENTS
                    </h3>
                    <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">
                      <% current_user.achievements.each do |achievement| %>
                        <div class="clearfix margin-bottom-10"><!-- post item -->
                          <h4 class="size-13 nomargin noborder nopadding"><i class="fa <%= achievement[:icon] %>"></i> <%= achievement[:name] %></h4>
                          <span class="size-11 text-muted"> <%= achievement[:detail] %></span>
                        </div><!-- /post item -->
                        <hr>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /info -->
            </div>
            <div class="row text-center">
              <img class="image-bw width-150 text-center" src="/assets/images/runkeeper.png">
            </div>
            <div class="row text-center">
              <% if current_user.access_token %>
                <%= link_to "Sync with Runkeeper", "/activities", class: "size-18", method: :post %>
              <% else %>
                <p class="text-center size-18"><a href="<%= @auth %>">Connect to RunKeeper</a></p>
              <% end %>
            </div>
            
          </div>


          <!-- RIGHT -->
          <div class="col-lg-9 col-md-9 col-sm-8">

            <!-- FLIP BOX -->
            <div class="box-flip text-center">
              <div class="front">
                <div class="box1 noradius">
                  <div class="box-icon-title">
                    <br>
                    <br>
                    <h2 class="size-50">About Me</h2>
                  </div>
                </div>
              </div>

              <div class="back">
                <div class="box2 noradius">
                  <h4>Backstory</h4>
                  <hr>
                  <p><%= current_user.bio %></p>
                </div>
              </div>
            </div>
            <!-- /FLIP BOX -->


            <div class="box-light"><!-- .box-light OR .box-dark -->

              <div class="row">

                <!-- POPULAR POSTS -->
                <div class="col-md-6 col-sm-6">

                  <div class="box-inner">
                    <h3>
                      <a class="pull-right size-11 text-warning" href="/activities">VIEW ALL</a>
                      MY ACTIVITIES
                    </h3>
                    <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">
                      <% @activities.each do |activity| %>
                        <div class="clearfix margin-bottom-10"><!-- post item -->
                          <h4 class="size-15 nomargin noborder nopadding"><a href="/activities/<%= activity.id %>"><%= activity.friendly_start_time %></a></h4>
                          <span class="size-13 text-muted"><strong>Distance:</strong> <%= activity.distance_in_miles %> miles <strong> Pace: </strong> (m:s) <%= activity.avg_pace %>/mile</span>
                        </div><!-- /post item -->
                        <hr>
                      <% end %>

                    </div>
                  </div>

                </div>
                <!-- /POPULAR POSTS -->

                <!-- FRIENDS -->
                <div class="col-md-6 col-sm-6">
                  <div class="box-inner">
                    <h3>
                      <a class="pull-right size-11 text-warning" href="/friends">VIEW ALL</a>
                      FRIENDS
                    </h3>
                    <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">
                      <% @accepted_friends.each do |friend| %>
                        <div class="clearfix margin-bottom-10">
                          <div class="col-md-12"><!-- squared item -->
                          <div class="col-md-4">
                            <img class="thumbnail pull-left text-center box-default box-shadow-1" src="<%= friend.avatar %>" width="100" height="100" alt="" /> 
                          </div>
                          <div class="col-md-8 text-center">
                            <br>
                            <h4 class="size-15 nomargin noborder nopadding bold"><a href="/users/<%= friend.id %>"><%= friend.char_name %></a></h4>
                            <span class="size-13 text-muted">Lv. <%= friend.level %> Hero</span>
                          </div>
                          </div>
                        </div><!-- /squared item -->
                        <hr>
                      <% end %>
                    </div>
                  </div>                  
                </div>
                <!-- /FRIENDS -->

              </div>

              <div class="row margin-top-30">

                <!-- DISCUSSIONS -->
                <div class="col-md-6 col-sm-6">

                  <div class="box-inner">
                    <h3 class="">
                      <a class="pull-right size-11 text-warning" href="/quests">VIEW ALL</a>
                      QUEST INBOX
                    </h3>
                    <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">
                      <% @quest_inbox.each do |quest| %>
                      <div class="clearfix margin-bottom-20"><!-- discussion item -->
                        <!-- <img class="thumbnail pull-left" src="/assets/images/demo/people/300x300/3-min.jpg" width="60" height="60" alt="" /> -->
                        <h4 class="size-15 nomargin noborder nopadding bold"><i class="fa <%= quest.icon %>"></i><a href="quests/<%= quest.id %>"> <%= quest.name %></a></h4>
                        <span class="size-13 text-muted nomargin">
                          <p class="margin-bottom-10"><%= quest.notes %></p>
                          <%= form_tag "/quests/#{quest.id}", method: :patch do %>
                            <div class="button-group" data-toggle="buttons">
                              <div class="col-md-4 btn btn-default noborder-right">
                                <%= label_tag :choice_accept, "Accept" %>
                                <%= radio_button_tag :choice, 1 %>
                              </div>
                              <div class="col-md-4 btn btn-default">
                                <%= radio_button_tag :choice, 2 %>
                                <%= label_tag :choice_decline, "Decline" %>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <%= submit_tag "Submit", class: "btn btn-default" %>
                            </div>
                          <% end %> 
                      </div>
                      <hr><!-- /discussion item -->
                      <% end %>
                    </div>
                  </div>
                </div>
                <!-- /DISCUSSIONS -->

                <!-- NOTIFICATIONS -->
                <div class="col-md-6 col-sm-6">

                  <div class="box-inner">
                    <h3>
                      <a class="pull-right size-11 text-warning" href="/friends">VIEW ALL</a>
                      FRIEND REQUEST INBOX
                    </h3>
                    <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">
                      <% @pending_friends_received.each do |friend| %>
                        <div class="clearfix margin-bottom-20"><!-- discussion item -->
                          <div class="row col-md-12">
  
                          <div class="col-md-3 thumbnail text-center box-default box-shadow-1">
                            <img class="" src="<%= friend.avatar %>" width="60" height="60" alt="" />
                            <h4 class="size-15 nomargin noborder nopadding bold"><%= friend.char_name %></h4>
                            <h5 class="size-11 nomargin noborder nopadding text-muted">Lv. <%= friend.level %> Hero</h5>
                          </div>
                          <div class="col-md-9">
                            <span class="size-13 text-muted">

                              <%= form_tag "/friends/#{friend.id}", method: :patch do %>
                              <div class="button-group" data-toggle="buttons">
                                <div class="col-md-4 btn btn-default noborder-right">
                                  <%= label_tag :choice_accept, "Accept" %>
                                  <%= radio_button_tag :choice, 1 %>
                                </div>
                                <div class="col-md-4 btn btn-default">
                                  <%= radio_button_tag :choice, 2 %>
                                  <%= label_tag :choice_decline, "Decline" %>
                                </div>
                              </div>
                                <div class="col-md-4">
                                  <%= submit_tag "Submit", class: "btn btn-default" %>
                                </div>
                              <% end %> 
                            </span>
                          </div>
                          </div>
                          </div>
                          <hr>
                        </div><!-- /discussion item -->

                      <% end %>
                    </div>


                </div>
                <!-- /NOTIFICATIONS -->

              </div>


            

             <div class="row margin-top-30">

                <!-- DISCUSSIONS -->
                <div class="col-md-6 col-sm-6">

                  <div class="box-inner">
                    <h3>
                      <a class="pull-right size-11 text-warning" href="/inbox/active">VIEW ALL</a>
                      MY ACTIVE QUESTS
                    </h3>
                    <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">
                      <% @active_quests.each do |quest| %>
                      <div class="clearfix margin-bottom-20"><!-- discussion item -->
                        <h4 class="size-15 nomargin noborder nopadding bold"><i class="fa <%= quest.icon %>"></i><a href="quests/<%= quest.id %>"> <%= quest.name %></a></h4>
                        <span class="size-13 text-muted nomargin nopadding noborder">
                          <p class="nomargin nopadding noborder"><%= quest.notes %></p>
                          <p class="nomargin nopadding noborder"><strong>DEADLINE</strong>: <%= quest.friendly_deadline %></p>  
                        </span>
                      </div><!-- /discussion item -->
                      <hr>
                      <% end %>
                    </div>
                  </div>
                </div>
                <!-- /DISCUSSIONS -->

                <!-- NOTIFICATIONS -->
                <div class="col-md-6 col-sm-6">

                  <div class="box-inner">
                    <h3>
                      <a class="pull-right size-11 text-warning" href="/outbox/active">VIEW ALL</a>
                      ASSIGNED ACTIVE QUESTS
                    </h3>
                    <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">
                      <% @active_assigned.each do |quest| %>
                        <div class="clearfix margin-bottom-20"><!-- discussion item -->
                          <h4 class="size-15 nomargin noborder nopadding bold"><i class="fa <%= quest.icon %>"></i><a href="/quests/<%= quest.id %>"> <%= quest.name %></a></h4>
                          <div>
                            <span class="size-13 text-muted">
                              <p><em>Assigned to <a href="/users/<%= quest.assignee_id %>"><%= quest.assignee.char_name %></a></em></p>
                              <p>LINKED QUEST ACTIVITIES</p>
                              <% quest.activities.each do |activity| %>
                                <p class="nomargin nopadding noborder text-center"><strong><%= activity.friendly_start_time %></strong></p>
                                <ul class="list-group side-nav">
                                  <li class="list-group-item"><i class="fa fa-arrows-h"></i><strong><%= activity.distance_in_miles %></strong> miles</li>
                                  <li class="list-group-item"><i class="fa fa-clock-o"></i>Duration (h:m:s) of <strong><%= activity.friendly_duration %></strong></li>  
                                  <li class="list-group-item"><i class="fa fa-tachometer"></i>Average pace (m:s) of <strong><%= activity.avg_pace %></strong> per mile</li>
                                  <li class="list-group-item"><i class="fa fa-fire"></i><strong><%= activity.calories %></strong> calories burned</li>
                                </ul>
                              <% end %>
                              <%= form_tag "/quests/#{quest.id}", method: :patch do %>
                              <div class="button-group" data-toggle="buttons">
                                <div class="col-md-4 btn btn-default noborder-right">
                                  <%= label_tag :choice_complete, "Confirm" %>
                                  <%= radio_button_tag :choice, 4 %>
                                </div>
                                <div class="col-md-4 btn btn-default">
                                  <%= label_tag :choice_cancel, "Cancel" %>
                                  <%= radio_button_tag :choice, 3 %>
                                </div>
                                </div>
                                <div class="col-md-4">
                                  <%= submit_tag "Submit", class: "btn btn-default" %>
                                </div>
                            <% end %>
                            </span>
                          </div>
                        </div><!-- /discussion item -->
                        <hr>
                      <% end %>
                      
                    </div>


                </div>
                <!-- /NOTIFICATIONS -->

              </div>


            </div>


              

                <!-- DISCUSSIONS -->
                
                </div>

              
            </div>
          </div>
          
        </div>
      </section>
      <!-- / -->

