<h1><%= current_user.char_name %></h1>
<p>Experience: <%= current_user.experience %></p>
<p>Speed: <%= current_user.speed %></p>
<p>Endurance: <%= current_user.endurance %></p>
<p>Mental:  <%= current_user.mental %></p>
<p>Level:  <%= current_user.level %></p>

<h3>Friends</h3>
<% @accepted_friends.each do |friend| %>
  <p><a href="/users/<%= friend.id %>"><%= friend.char_name %></a></p>
<% end %>

<h3>Pending Friend Requests Sent</h3>
<% @pending_friends_sent.each do |name| %>
  <p><%= name %></p>
<% end %>

<h3>Pending Friend Requests Received</h3>
<%= @pending_friends_received.each do |name| %>
  <p><%= name %></p>
<% end %>

<p><a href="/users">Find new friends</a></p>
<p><a href="/users">See all my friends</a></p>
<p><a href="/activities">See all my activities</a></p>
<% unless current_user.access_token %>
<a href="<%= @auth %>">Connect to RunKeeper</a>
<% end %>