
  <!-- 
        PAGE HEADER 
        
        CLASSES:
          .page-header-xs = 20px margins
          .page-header-md = 50px margins
          .page-header-lg = 80px margins
          .page-header-xlg= 130px margins
          .dark     = dark page header

          .shadow-before-1  = shadow 1 header top
          .shadow-after-1   = shadow 1 header bottom
          .shadow-before-2  = shadow 2 header top
          .shadow-after-2   = shadow 2 header bottom
          .shadow-before-3  = shadow 3 header top
          .shadow-after-3   = shadow 3 header bottom
      -->
      <section class="page-header">
        <div class="container">

          <h1>FIND HEROS IN YOUR NETWORK</h1>

        </div>
      </section>
      <!-- /PAGE HEADER -->




      <!-- -->
      <section>
        <div class="container">
          
          <div class="row">
          
            <!-- item -->
            <% @users.each do |user| %>
              <% if user.id != current_user.id %>
                <div class="col-md-3 col-sm-6">
                  <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
                    <div class="front">
                      <div class="box1 box-default">
                        <div class="box-icon-title">
                          <img class="img-responsive" src="<%= user.avatar %>" alt="" />
                          <h2><%= user.char_name %></h2>
                          <small>Lv. <%= user.level  %> Hero</small>
                        </div>
                      </div>
                    </div>
    
                    <div class="back">
                      <div class="box2 box-default">
                        <h4 class="nomargin"><%= user.char_name %></h4>
                        <small>Lv. <%= user.level  %> Hero</small>
    
                        <hr />
                            <p>Endurance: <%= user.endurance %></p>
                            <p>Speed: <%= user.speed %></p>
                            <p>Mental: <%= user.mental %></p>
                        <hr />
    
                        <% if !current_user.friend?(user) %>
                          <%= form_tag '/friends', method: :post do %>
                            <%= hidden_field_tag :friend_id, user.id %>
                            <%= submit_tag "Add friend" %>
                          <% end %>
                        <% else %>
                          <p>Already friends!</p>
                        <% end %>
                      </div>
                    </div>
                  </div>
    
                </div>
              <% end %>
            <% end %>
      </section>
      <!-- / -->


      <!-- CALLOUT -->
      <div class="callout callout-theme-color">
        <div class="container">

          <div class="row">

          </div>

        </div>
      </div>
      <!-- /CALLOUT -->


