  <!-- 
        PAGE HEADER 
        
        CLASSES:
          .page-header-xs = 20px margins
          .page-header-md = 50px margins
          .page-header-lg = 80px margins
          .page-header-xlg= 130px margins
          .dark     = dark page header

          .shadow-before-1  = shadow 1 header top
          .shadow-after-1   = shadow 1 header bottom
          .shadow-before-2  = shadow 2 header top
          .shadow-after-2   = shadow 2 header bottom
          .shadow-before-3  = shadow 3 header top
          .shadow-after-3   = shadow 3 header bottom
      -->
      <section class="page-header page-header-xs">
        <div class="container">
         <h1>HERO DETAIL</h1>
        </div>
      </section>
      <!-- /PAGE HEADER -->



      <!-- -->
      <section>
        <div class="container">
          
          <!-- LEFT -->
          <div class="col-lg-3 col-md-3 col-sm-4">
          
            <div class="thumbnail text-center">
              <img src="<%= @user.avatar %>" alt="" />
              <h2 class="size-18 margin-top-10 margin-bottom-0"><%= @user.char_name %></h2>
              <h3 class="size-11 margin-top-0 margin-bottom-10 text-muted">Lv. <%= @user.level %> Hero </h3>
            </div>

            <!-- completed -->
            <div class="margin-bottom-30">
              <label><%= @user.exp_to_go %> xp to advance</label>
              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= @user.exp_ratio %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @user.exp_ratio %>%; min-width: 2em;"></div>
              </div>
            </div>
            <!-- /completed -->

            <!-- SIDE NAV -->
            <ul class="side-nav list-group margin-bottom-60" id="sidebar-nav">
              <li class="list-group-item"><a href="#"><i class="fa fa-arrow-circle-o-up"></i> LEVEL: <%= @user.level %> </a></li>
              <li class="list-group-item"><a href="#"><i class="fa fa-star-o"></i> EXPERIENCE: <%= @user.experience %></a></li>
              <li class="list-group-item"><a href="#"><i class="fa fa-road"></i> ENDURANCE: <%= @user.endurance %></a></li>
              <li class="list-group-item"><a href="#"><i class="fa fa-bolt"></i> SPEED: <%= @user.speed %> </a></li>
              <li class="list-group-item"><a href="#"><i class="fa fa-flask"></i> MENTAL: <%= @user.mental %></a></li>
            </ul>
            <!-- /SIDE NAV -->


            <!-- info -->
            <div class="box-light margin-bottom-30"><!-- .box-light OR .box-light -->
              <div class="row margin-bottom-20">
                <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
                  <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway"><%= @active_quests_num %></h2>
                  <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">ACTIVE QUESTS</h3>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
                  <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway"><%= @completed_quests_num %></h2>
                  <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">COMPLETED QUESTS</h3>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
                  <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway"><%= @total_activities_num %></h2>
                  <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">TOTAL ACTIVITIES</h3>
                </div>
              </div>
              <!-- /info -->
            </div>
            <img class="image-bw width-100" src="/assets/images/runkeeper.png">
            <% if @user.access_token %>
            Using Runkeeper
            <% else %>
            Runkeeper Inactive
            <% end %>
          </div>


           <!-- RIGHT -->
          <div class="col-lg-9 col-md-9 col-sm-8">

            <!-- FLIP BOX -->
            <div class="box-flip text-center">
              <div class="front">
                <div class="box1 noradius">
                  <div class="box-icon-title">
                    <br>
                    <br>
                    <h2 class="size-50"><%= @user.char_name %>'s Backstory</h2>
                  </div>
                </div>
              </div>

              <div class="back">
                <div class="box2 noradius">
                  <h4>Bio</h4>
                  <hr />
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.</p>
                </div>
              </div>
            </div>
            <!-- /FLIP BOX -->


            <div class="box-light"><!-- .box-light OR .box-dark -->

              <div class="row">

                <!-- POPULAR POSTS -->
                <div class="col-md-6 col-sm-6">

                  <div class="box-inner">
                    <h3>
                      
                      ACTIVITIES
                    </h3>
                    <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">
                      <% @activities.each do |activity| %>
                        <div class="clearfix margin-bottom-10"><!-- post item -->
                          <h4 class="size-13 nomargin noborder nopadding"><a href="/activities/<%= activity.id %>"><%= activity.friendly_start_time %></a></h4>
                          <span class="size-11 text-muted"><strong>Distance:</strong> <%= activity.distance_in_miles %> miles <strong> Pace: </strong> (m:s) <%= activity.avg_pace %>/mile</span>
                        </div><!-- /post item -->
                      <% end %>

                    </div>
                  </div>

                </div>
                <!-- /POPULAR POSTS -->

                <!-- FRIENDS -->
                <div class="col-md-6 col-sm-6">
                  <div class="box-inner">
                    <h3>
                      
                      FRIENDS
                    </h3>
                    <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">
                      <% @accepted_friends.each do |friend| %>
                        <div class="clearfix margin-bottom-10"><!-- squared item -->
                          <img class="thumbnail pull-left" src="<%= friend.avatar %>" width="40" height="40" alt="" />
                          <h4 class="size-14 nomargin noborder nopadding bold"><%= friend.char_name %></h4>
                          <span class="size-12 text-muted">Lv. <%= friend.level %> Hero</span>
                        </div><!-- /squared item -->
                      <% end %>
                    </div>
                  </div>                  
                </div>
                <!-- /FRIENDS -->

              </div>

              <div class="row margin-top-30">

                <!-- DISCUSSIONS -->
                <div class="col-md-6 col-sm-6">

                  <div class="box-inner">
                    <h3>
                      
                      ACTIVE QUESTS
                    </h3>
                    <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">
                      <% @active_quests.each do |quest| %>
                      <div class="clearfix margin-bottom-20"><!-- discussion item -->
                          <h4 class="size-15 nomargin noborder nopadding bold"><i class="fa <%= quest.icon %>"></i><a href="/quests/<%= quest.id %>"> <%= quest.name %></a></h4>
                          <div>
                            <span class="size-13 text-muted">
                              <%= quest.notes %>
                            </span>
                          </div>
                        </div><!-- /discussion item -->
                      <% end %>
                    </div>
                  </div>
                </div>
                <!-- /DISCUSSIONS -->

                <!-- NOTIFICATIONS -->
                <div class="col-md-6 col-sm-6">

                  <div class="box-inner">
                    <h3>
                      
                      COMPLETED QUESTS
                    </h3>
                    <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">
                      <% @completed_quests.each do |quest| %>
                        <div class="clearfix margin-bottom-20"><!-- discussion item -->
                          <h4 class="size-15 nomargin noborder nopadding bold"><i class="fa <%= quest.icon %>"></i><a href="/quests/<%= quest.id %>"> <%= quest.name %></a></h4>
                          <div>
                            <span class="size-13 text-muted">
                              <%= quest.notes %>
                            </span>
                          </div>
                        </div><!-- /discussion item -->
                      <% end %>
                    </div>


                </div>
                <!-- /NOTIFICATIONS -->

              </div>


            </div>
            <%= form_tag '/quests', class: "box-light margin-top-20", method: :post do %>
              <div class="box-inner">
                <h4 class="uppercase">Assign quest to <strong><%= @user.char_name %></strong></h2>
                <div>
                  <%= label_tag :quest_type %>
                  <%= select_tag :quest_type, options_for_select(["Endurance", "Mental", "Speed"], "")%>
                </div>
                <div>
                  <%= label_tag :quest_title %>
                  <%= text_field_tag :name, "", class: "form-control" %>
                </div>
                <div>
                  <%= label_tag :task %>
                  <%= text_field_tag :goal, "", class: "form-control" %>
                </div>
                <div>
                  <%= label_tag :deadline %>
                  <%= select_date Date.today, prefix: :deadline, class: "form-control" %>
                </div>
                <br>
                <div>
                  <%= hidden_field_tag :assignee_id, @user.id %>
                  <%= submit_tag "Submit Quest", class: "btn btn-primary" %>
                </div>
              </div>
            <% end %>

          </div>
          
        </div>
      </section>
      <!-- / -->