<h1><%= @user.char_name %></h1>
<p>Experience: <%= @user.experience %></p>
<p>Speed: <%= @user.speed %></p>
<p>Endurance: <%= @user.endurance %></p>
<p>Mental:  <%= @user.mental %></p>
<p>Level:  <%= @user.level %></p>

<h3>Submit quest to <%= @user.char_name %></h3>

<%= form_tag '/quests', method: :post do %>
  <div>
    <%= label_tag :quest_type %>
    <%= select_tag :quest_type, options_for_select(["Endurance", "Mental", "Speed"], "")%>
  </div>
  <div>
    <%= label_tag :quest_name %>
    <%= text_field_tag :name %>
  </div>
  <div>
    <%= label_tag :quest_goal %>
    <%= text_field_tag :goal %>
  </div>
  <div>
    <%= label_tag :deadline %>
    <%= select_date Date.today, prefix: :deadline %>
  </div>
  <div>
    <%= hidden_field_tag :assignee_id, @user.id %>
    <%= submit_tag "Submit quest" %>
  </div>
<% end %>
