
      <section class="page-header page-header-xs">
        <div class="container">

          <h1>ACTIVITIES</h1>

          <!-- breadcrumbs -->
          <ol class="breadcrumb">
            <li><a href="/activities/new">Enter Activity Manually</a></li>
          </ol><!-- /breadcrumbs -->

        </div>
      </section>
      <!-- /PAGE HEADER -->




      <!-- -->
<section>
  <div class="container">
    <% @activities.each_slice(4) do |four_activities| %>
      <div class="row">
        <% four_activities.each do |activity| %>
          <div class="col-md-3">
            <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
              <div class="front box-shadow-1 opacity-8">
                <div class="box1 box-default">
                  <div class="box-icon-title">
                    <div>
                      <h4 class="size-16"><%= activity.friendly_start_time %></h4>
                    </div>
                    <hr>
                    <div>
                      <small>DISTANCE: <%= activity.distance_in_miles  %> miles</small>
                    </div>
                    <div>
                      <small>AVERAGE PACE: (m:s) <%= activity.avg_pace  %>/mile</small>
                    </div>
                    <div>
                      <small>XP VALUE: <%= activity.calc_xp %></small>
                    </div>
                    <% if activity.uri %>
                      <div>
                        <small>TYPE: RunKeeper </small>
                      </div>
                    <% else %>
                      <div>
                        <small>TYPE: Manual </small>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="back box-shadow-1 opacity-8">
                <div class="box2 box-default">
                  <h4 class="well"><a href="/activities/<%= activity.id %>">SEE DETAIL</a></h4>  
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <br>
    <% end %>
  </div>
  <br>
</section>
      <!-- / -->
      <!-- / -->


