<h1>Activities</h1>
<% @activities.each do |activity| %>
<h5>Date: <a href="/activities/<%= activity.id %>"><%= activity.friendly_start_time %></a></h5>
<p>Duration: <%= activity.distance_in_miles %></p>
<p>Calories: <%= activity.calories %></p>
<p>Distance: <%= activity.friendly_duration %></p>
<p>Pace: <%= activity.avg_pace %></p>
<% end %>

<p><a href="/">Return Home</a></p>

  <!-- 
        PAGE HEADER 
        
        CLASSES:
          .page-header-xs = 20px margins
          .page-header-md = 50px margins
          .page-header-lg = 80px margins
          .page-header-xlg= 130px margins
          .dark     = dark page header

          .shadow-before-1  = shadow 1 header top
          .shadow-after-1   = shadow 1 header bottom
          .shadow-before-2  = shadow 2 header top
          .shadow-after-2   = shadow 2 header bottom
          .shadow-before-3  = shadow 3 header top
          .shadow-after-3   = shadow 3 header bottom
      -->
      <section class="page-header page-header-xs">
        <div class="container">

          <h1>ACTIVITIES</h1>

          <!-- breadcrumbs -->
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Portfolio</a></li>
            <li class="active">Grid - 4 Columns</li>
          </ol><!-- /breadcrumbs -->

        </div>
      </section>
      <!-- /PAGE HEADER -->




      <!-- -->
      <section>
        <div class="container">

          <div id="portfolio" class="portfolio-gutter portfolio-title-over">

            <ul class="nav nav-pills mix-filter margin-bottom-60">
              <li data-filter="all" class="filter active"><a href="#">All</a></li>
              <li data-filter="development" class="filter"><a href="#">RunKeeper Synced</a></li>
              <li data-filter="photography" class="filter"><a href="#">Manual Entry</a></li>
              <li data-filter="design" class="filter"><a href="#">Quest Activities</a></li>
              <li data-filter="design" class="filter"><a href="#">Non-Quest Activities</a></li>
            </ul>


            <div class="row mix-grid">

              <div class="col-md-3 col-sm-3 mix design"><!-- item -->

                <div class="item-box">
                  <figure>
                    <div class="item-hover">
                      <span class="overlay dark-5"></span>
                      <span class="inner">

                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/11-min.jpg" data-plugin-options='{"type":"image"}'>
                          <span class="fa fa-plus size-20"></span>
                        </a>

                        <!-- details -->
                        <a class="ico-rounded" href="portfolio-single-slider.html">
                          <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                        </a>

                      </span>

                      <!-- overlay title -->
                      <div class="item-box-overlay-title">
                        <h3>Street Photography</h3>
                        <ul class="list-inline categories nomargin">
                          <li><a href="#">Photography</a></li>
                          <li><a href="#">Design</a></li>
                        </ul>
                      </div><!-- /overlay title -->

                    </div>

                    <!-- carousel -->
                    <div class="owl-carousel buttons-autohide controlls-over nomargin" data-plugin-options='{"singleItem": true, "autoPlay": 4000, "navigation": false, "pagination": true, "transitionStyle":"goDown"}'>
                      <div>
                        <img class="img-responsive" src="assets/images/demo/mockups/600x399/8-min.jpg" width="600" height="399" alt="">
                      </div>
                      <div>
                        <img class="img-responsive" src="assets/images/demo/mockups/600x399/9-min.jpg" width="600" height="399" alt="">
                      </div>
                      <div>
                        <img class="img-responsive" src="assets/images/demo/mockups/600x399/10-min.jpg" width="600" height="399" alt="">
                      </div>
                    </div>
                    <!-- /carousel -->

                  </figure>
                </div>

              </div><!-- /item -->


              <div class="col-md-3 col-sm-3 mix development"><!-- item -->

                <div class="item-box">
                  <figure>
                    <div class="item-hover">
                      <span class="overlay dark-5"></span>
                      <span class="inner">

                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/20-min.jpg" data-plugin-options='{"type":"image"}'>
                          <span class="fa fa-plus size-20"></span>
                        </a>

                        <!-- details -->
                        <a class="ico-rounded" href="portfolio-single-slider.html">
                          <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                        </a>

                      </span>

                      <!-- overlay title -->
                      <div class="item-box-overlay-title">
                        <h3>Street Photography</h3>
                        <ul class="list-inline categories nomargin">
                          <li><a href="#">Photography</a></li>
                          <li><a href="#">Design</a></li>
                        </ul>
                      </div><!-- /overlay title -->

                    </div>

                    <img class="img-responsive" src="assets/images/demo/mockups/600x399/20-min.jpg" width="600" height="399" alt="">
                  </figure>
                </div>

              </div><!-- /item -->


              <div class="col-md-3 col-sm-3 mix photography"><!-- item -->

                <div class="item-box">
                  <figure>
                    <div class="item-hover">
                      <span class="overlay dark-5"></span>
                      <span class="inner">

                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/19-min.jpg" data-plugin-options='{"type":"image"}'>
                          <span class="fa fa-plus size-20"></span>
                        </a>

                        <!-- details -->
                        <a class="ico-rounded" href="portfolio-single-slider.html">
                          <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                        </a>

                      </span>

                      <!-- overlay title -->
                      <div class="item-box-overlay-title">
                        <h3>Street Photography</h3>
                        <ul class="list-inline categories nomargin">
                          <li><a href="#">Photography</a></li>
                          <li><a href="#">Design</a></li>
                        </ul>
                      </div><!-- /overlay title -->

                    </div>

                    <img class="img-responsive" src="assets/images/demo/mockups/600x399/19-min.jpg" width="600" height="399" alt="">
                  </figure>
                </div>

              </div><!-- /item -->


              <div class="col-md-3 col-sm-3 mix design"><!-- item -->

                <div class="item-box">
                  <figure>
                    <div class="item-hover">
                      <span class="overlay dark-5"></span>
                      <span class="inner">

                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/11-min.jpg" data-plugin-options='{"type":"image"}'>
                          <span class="fa fa-plus size-20"></span>
                        </a>

                        <!-- details -->
                        <a class="ico-rounded" href="portfolio-single-slider.html">
                          <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                        </a>

                      </span>

                      <!-- overlay title -->
                      <div class="item-box-overlay-title">
                        <h3>Street Photography</h3>
                        <ul class="list-inline categories nomargin">
                          <li><a href="#">Photography</a></li>
                          <li><a href="#">Design</a></li>
                        </ul>
                      </div><!-- /overlay title -->

                    </div>

                    <img class="img-responsive" src="assets/images/demo/mockups/600x399/11-min.jpg" width="600" height="399" alt="">
                  </figure>
                </div>

              </div><!-- /item -->


              <div class="col-md-3 col-sm-3 mix design"><!-- item -->

                <div class="item-box">
                  <figure>
                    <div class="item-hover">
                      <span class="overlay dark-5"></span>
                      <span class="inner">

                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/12-min.jpg" data-plugin-options='{"type":"image"}'>
                          <span class="fa fa-plus size-20"></span>
                        </a>

                        <!-- details -->
                        <a class="ico-rounded" href="portfolio-single-slider.html">
                          <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                        </a>

                      </span>

                      <!-- overlay title -->
                      <div class="item-box-overlay-title">
                        <h3>Street Photography</h3>
                        <ul class="list-inline categories nomargin">
                          <li><a href="#">Photography</a></li>
                          <li><a href="#">Design</a></li>
                        </ul>
                      </div><!-- /overlay title -->

                    </div>

                    <img class="img-responsive" src="assets/images/demo/mockups/600x399/12-min.jpg" width="600" height="399" alt="">
                  </figure>
                </div>

              </div><!-- /item -->


              <div class="col-md-3 col-sm-3 mix development"><!-- item -->

                <div class="item-box">
                  <figure>
                    <div class="item-hover">
                      <span class="overlay dark-5"></span>
                      <span class="inner">

                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/13-min.jpg" data-plugin-options='{"type":"image"}'>
                          <span class="fa fa-plus size-20"></span>
                        </a>

                        <!-- details -->
                        <a class="ico-rounded" href="portfolio-single-slider.html">
                          <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                        </a>

                      </span>

                      <!-- overlay title -->
                      <div class="item-box-overlay-title">
                        <h3>Street Photography</h3>
                        <ul class="list-inline categories nomargin">
                          <li><a href="#">Photography</a></li>
                          <li><a href="#">Design</a></li>
                        </ul>
                      </div><!-- /overlay title -->

                    </div>

                    <img class="img-responsive" src="assets/images/demo/mockups/600x399/13-min.jpg" width="600" height="399" alt="">
                  </figure>
                </div>

              </div><!-- /item -->


              <div class="col-md-3 col-sm-3 mix photography"><!-- item -->

                <div class="item-box">
                  <figure>
                    <div class="item-hover">
                      <span class="overlay dark-5"></span>
                      <span class="inner">

                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/14-min.jpg" data-plugin-options='{"type":"image"}'>
                          <span class="fa fa-plus size-20"></span>
                        </a>

                        <!-- details -->
                        <a class="ico-rounded" href="portfolio-single-slider.html">
                          <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                        </a>

                      </span>

                      <!-- overlay title -->
                      <div class="item-box-overlay-title">
                        <h3>Street Photography</h3>
                        <ul class="list-inline categories nomargin">
                          <li><a href="#">Photography</a></li>
                          <li><a href="#">Design</a></li>
                        </ul>
                      </div><!-- /overlay title -->

                    </div>

                    <img class="img-responsive" src="assets/images/demo/mockups/600x399/14-min.jpg" width="600" height="399" alt="">
                  </figure>
                </div>

              </div><!-- /item -->


              <div class="col-md-3 col-sm-3 mix design"><!-- item -->

                <div class="item-box">
                  <figure>
                    <div class="item-hover">
                      <span class="overlay dark-5"></span>
                      <span class="inner">

                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/15-min.jpg" data-plugin-options='{"type":"image"}'>
                          <span class="fa fa-plus size-20"></span>
                        </a>

                        <!-- details -->
                        <a class="ico-rounded" href="portfolio-single-slider.html">
                          <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                        </a>

                      </span>

                      <!-- overlay title -->
                      <div class="item-box-overlay-title">
                        <h3>Street Photography</h3>
                        <ul class="list-inline categories nomargin">
                          <li><a href="#">Photography</a></li>
                          <li><a href="#">Design</a></li>
                        </ul>
                      </div><!-- /overlay title -->

                    </div>

                    <img class="img-responsive" src="assets/images/demo/mockups/600x399/15-min.jpg" width="600" height="399" alt="">
                  </figure>
                </div>

              </div><!-- /item -->


              <div class="col-md-3 col-sm-3 mix design"><!-- item -->

                <div class="item-box">
                  <figure>
                    <div class="item-hover">
                      <span class="overlay dark-5"></span>
                      <span class="inner">

                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/16-min.jpg" data-plugin-options='{"type":"image"}'>
                          <span class="fa fa-plus size-20"></span>
                        </a>

                        <!-- details -->
                        <a class="ico-rounded" href="portfolio-single-slider.html">
                          <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                        </a>

                      </span>

                      <!-- overlay title -->
                      <div class="item-box-overlay-title">
                        <h3>Street Photography</h3>
                        <ul class="list-inline categories nomargin">
                          <li><a href="#">Photography</a></li>
                          <li><a href="#">Design</a></li>
                        </ul>
                      </div><!-- /overlay title -->

                    </div>

                    <img class="img-responsive" src="assets/images/demo/mockups/600x399/16-min.jpg" width="600" height="399" alt="">
                  </figure>
                </div>

              </div><!-- /item -->


              <div class="col-md-3 col-sm-3 mix photography"><!-- item -->

                <div class="item-box">
                  <figure>
                    <div class="item-hover">
                      <span class="overlay dark-5"></span>
                      <span class="inner">

                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/1-min.jpg" data-plugin-options='{"type":"image"}'>
                          <span class="fa fa-plus size-20"></span>
                        </a>

                        <!-- details -->
                        <a class="ico-rounded" href="portfolio-single-slider.html">
                          <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                        </a>

                      </span>

                      <!-- overlay title -->
                      <div class="item-box-overlay-title">
                        <h3>Street Photography</h3>
                        <ul class="list-inline categories nomargin">
                          <li><a href="#">Photography</a></li>
                          <li><a href="#">Design</a></li>
                        </ul>
                      </div><!-- /overlay title -->

                    </div>

                    <img class="img-responsive" src="assets/images/demo/mockups/600x399/1-min.jpg" width="600" height="399" alt="">
                  </figure>
                </div>

              </div><!-- /item -->


              <div class="col-md-3 col-sm-3 mix design"><!-- item -->

                <div class="item-box">
                  <figure>
                    <div class="item-hover">
                      <span class="overlay dark-5"></span>
                      <span class="inner">

                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/2-min.jpg" data-plugin-options='{"type":"image"}'>
                          <span class="fa fa-plus size-20"></span>
                        </a>

                        <!-- details -->
                        <a class="ico-rounded" href="portfolio-single-slider.html">
                          <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                        </a>

                      </span>

                      <!-- overlay title -->
                      <div class="item-box-overlay-title">
                        <h3>Street Photography</h3>
                        <ul class="list-inline categories nomargin">
                          <li><a href="#">Photography</a></li>
                          <li><a href="#">Design</a></li>
                        </ul>
                      </div><!-- /overlay title -->

                    </div>

                    <img class="img-responsive" src="assets/images/demo/mockups/600x399/2-min.jpg" width="600" height="399" alt="">
                  </figure>
                </div>

              </div><!-- /item -->


              <div class="col-md-3 col-sm-3 mix design"><!-- item -->

                <div class="item-box">
                  <figure>
                    <div class="item-hover">
                      <span class="overlay dark-5"></span>
                      <span class="inner">

                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="assets/images/demo/mockups/1200x800/3-min.jpg" data-plugin-options='{"type":"image"}'>
                          <span class="fa fa-plus size-20"></span>
                        </a>

                        <!-- details -->
                        <a class="ico-rounded" href="portfolio-single-slider.html">
                          <span class="glyphicon glyphicon-option-horizontal size-20"></span>
                        </a>

                      </span>

                      <!-- overlay title -->
                      <div class="item-box-overlay-title">
                        <h3>Street Photography</h3>
                        <ul class="list-inline categories nomargin">
                          <li><a href="#">Photography</a></li>
                          <li><a href="#">Design</a></li>
                        </ul>
                      </div><!-- /overlay title -->

                    </div>

                    <img class="img-responsive" src="assets/images/demo/mockups/600x399/3-min.jpg" width="600" height="399" alt="">
                  </figure>
                </div>

              </div><!-- /item -->


            </div>

          </div>
          
        </div>
      </section>
      <!-- / -->


