<div class="container">
  <div class="col-md-4">
    <%= form_tag '/activities/manual', class: "box-light margin-top-20", method: :post do %>
      <div class="box-inner">
        <h4 class="uppercase">Manual Activity Entry</h4>
        <div>
          <%= label_tag :start_time %>
          <%= datetime_local_field :activity, :start_time, class: "form-control" %>
        </div>
        <div>
          <%= label_tag :end_time %>
          <%= datetime_local_field :activity, :end_time, class: "form-control" %>
        </div>
        <div>
          <%= label_tag :distance %>
          <%= text_field_tag :distance, "0", class: "form-control" %>
        </div>
        <div>
          <%= label_tag :weight %>
          <%= number_field :user, :weight, in: 75.0..400.0, step: 0.5, class: "form-control" %>
        </div>
        <br>
        <div>
          <%= submit_tag "Submit Activity", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-8">
  <div id="map"></div>
  </div>
</div>

<script>
  var map;
  var marker;
  var markerObject;
  var markerLatLng;
  var latitude = 41.881;
  var longitude = -87.623;
  var runPathCoordinatesManual = [];
  var pathLatLngAry = [];
  var distanceCounter = 0;


  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: latitude, lng: longitude},
      zoom: 12
    });

    google.maps.event.addListener(map, 'click', function(event) {
      addMarker(event.latLng, map);
      if (pathLatLngAry.length > 1) {
        findDistance(event.latLng, pathLatLngAry[pathLatLngAry.length - 2]);
      }
    });
  }

  function addMarker(location, map) {
    marker = new google.maps.Marker({
      position: location,
      map: map
    });

    markerObject = {lat: marker.getPosition().lat(), lng: marker.getPosition().lng()};

    markerLatLng = new google.maps.LatLng(markerObject.lat, markerObject.lng);

    runPathCoordinatesManual.push(markerObject);
    pathLatLngAry.push(markerLatLng);
    

    // findDistance(markerLatLang, pathLatLngAry[pathLatLngAry.length - 1]);

    var runPathManual = new google.maps.Polyline({
      path: runPathCoordinatesManual,
      geodesic: true,
      strokeColor: '#FF0000',
      strokeOpacity: 0.5,
      strokeWeight: 2
    });
    runPathManual.setMap(map);
  }

    

  

  google.maps.event.addDomListener(window, 'load', initMap);

  function findDistance(input_1, input_2) {
     // console.log(google.maps.geometry.spherical.computeDistanceBetween(input_1, input_2));
     distanceCounter = distanceCounter + google.maps.geometry.spherical.computeDistanceBetween(input_1, input_2);
     console.log(distanceCounter);
  }

  // function calcDistance(inputAryOfObjects) {
  //   inputAryOfObjects.forEach(function(){
  //     var index_1 = 0
  //     var index_2 = 1
  //   });
  // }


  
</script>


<script src=<%= @url %> async defer></script>