<h1>Activity from <%= @activity.quest.name %></h1>
<h5>Date: <%= @activity.start_time %></h5>
<p>Duration: <%= @activity.duration %></p>
<p>Calories: <%= @activity.calories %></p>
<p>Distance: <%= @activity.distance %></p>
