<div class="container">
  <div class= row>
    <div class="col-md-6">
      <h2><%= @activity.friendly_start_time %></h2>
      <ul class="side-nav list-group margin-bottom-60" id="sidebar-nav">
        <li class="list-group-item"><a href="#" class="size-20"><i class="fa fa-clock-o"></i> <strong> DURATION</strong>: (h:m:s) <%= @activity.friendly_duration %> </a></li>
        <li class="list-group-item"><a href="#" class="size-20"><i class="fa fa-fire"></i> <strong> CALORIES BURNED</strong>: <%= @activity.calories %></a></li>
        <li class="list-group-item"><a href="#" class="size-20"><i class="fa fa-arrows-h"></i> <strong> DISTANCE</strong>: <%= @activity.distance_in_miles %> miles</a></li>
        <li class="list-group-item"><a href="#" class="size-20"><i class="fa fa-tachometer"></i> <strong> AVERAGE PACE</strong>: (m:s) <%= @activity.avg_pace %>/mile </a></li>
        <li class="list-group-item"><a href="#" class="size-20"><i class="fa fa-star-o"></i> <strong> XP VALUE</strong>: <%= @activity.calc_xp %> pts</a></li>
      </ul>
    </div>
    <div class="col-md-6">
    <% if @activity.uri %>
      <div id="map"></div>
    <% else %>
      <img class="image-bw" src="/assets/images/runkeeper.png">
      <p><a href="<%= @auth %>">Track with RunKeeper for Map Data</a></p>
    <% end %>
    </div>
    
  </div>
</div>

<script>
  var map;
  var latitude = 41.881;
  var longitude = -87.623;
  var gpsPath;
  var coordinateAry = [];

  function initMap() {
    $.get("http://api.runkeeper.com<%= @activity.uri %>?token_type=<%= current_user.token_type %>&access_token=<%= current_user.access_token %>", function(data) {
      gpsPath = data.path;
      gpsPath.forEach(setCoordinates);

      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: coordinateAry[0].lat, lng: coordinateAry[0].lng},
        zoom: 16
      });

      var runPath = new google.maps.Polyline({
        path: coordinateAry,
        geodesic: true,
        strokeColor: '#FF0000',
        strokeOpacity: 0.5,
        strokeWeight: 2
      });
      runPath.setMap(map);
      var startMarker = new google.maps.Marker({
        position: coordinateAry[0],
        map: map,
        title: 'Start'
      });
      var endMarker = new google.maps.Marker({
        position: coordinateAry[(coordinateAry.length - 1)],
        map: map,
        title: 'Finish'
      });
      var infoWindowStart = new google.maps.InfoWindow({
        content: "Start"
      });
      var infoWindowFinish = new google.maps.InfoWindow({
        content: "Finish"
      });
      startMarker.addListener('click', function() {
        infoWindowStart.open(map, startMarker);
      });
      endMarker.addListener('click', function() {
        infoWindowFinish.open(map, endMarker);
      });
    });
  }

  function setCoordinates(inputObject) {
    var tempObject = {};
    tempObject.lat = inputObject.latitude;
    tempObject.lng = inputObject.longitude;
    coordinateAry.push(tempObject);
  }
</script>


<script src=<%= @url %> async defer></script>
